.prose a {
  @apply inline;
}

.prose p {
  @apply text-justify;
}

.markdown-content main {
  @apply prose md:prose-lg lg:prose-xl xl:prose-2xl;
}

.markdown-content main > div {
  @apply flex flex-col;
}

.markdown-content h2 {
  font-size: 1.5em;
}

.markdown-content ul {
  @apply list-disc;
}

.markdown-content a {
  @apply underline text-sky-500;
}

.markdown-content .map-container {
  @apply flex flex-col md:flex-row items-center md:items-start justify-between gap-4;
}

.markdown-content .map-container iframe {
  @apply w-full md:w-2/3 h-full aspect-video;
}

.markdown-content .map-container address {
  @apply flex flex-row justify-start md:flex-col text-2xl lg:text-3xl;
}

.markdown-content.docs-page h2, 
.markdown-content.partner-page h2 {
  @apply mt-4 mb-2;
}

.markdown-content.docs-page .big-footer, 
.markdown-content.partner-page .big-footer {
  @apply bg-white;
}

.markdown-content.docs-page main p,
.markdown-content.partner-page main p {
  @apply text-center;
  @apply mb-0;
}

.markdown-content h1 br,
.markdown-content h2 br {
  @apply block sm:hidden;
}

.markdown-content.index-page h1 {
  @apply mx-auto sm:mx-0;
}
