.flowbite div {
  @apply !text-neutral-400;
}

.flowbite input,
.flowbite select {
  @apply !border !border-neutral-950;
  @apply !bg-neutral-800;
  @apply !text-neutral-400;
  @apply placeholder-neutral-400;
}

.flowbite input[type="checkbox"] {
  @apply w-4 h-4;
}

.flowbite button {
  @apply !border !border-neutral-950;
  @apply !bg-neutral-900 hover:!bg-neutral-800;
  @apply !text-neutral-400;
}

aside.flowbite div {
  @apply bg-neutral-50 dark:bg-neutral-800;
}

aside.flowbite div div > * {
  @apply cursor-pointer;
  @apply text-neutral-900 dark:text-white;
  @apply hover:bg-neutral-100 hover:dark:bg-neutral-700;
}

.flowbite button.bg-green-700,
button.flowbite.bg-green-700 {
  @apply !border !border-green-900;
  @apply !bg-green-700;
  @apply hover:!bg-green-800;
}
.flowbite-table thead,
.flowbite thead {
  @apply dark:!bg-neutral-600;
}

.flowbite-table tbody tr,
.flowbite tbody tr {
  @apply dark:!bg-neutral-800;
  @apply dark:hover:!bg-neutral-700;
  @apply dark:[&:not(:last-child)]:border-neutral-700;
}

.flowbite.toast,
.flowbite .toast {
  @apply !bg-neutral-800;
  @apply !text-neutral-400;
  @apply border-2 !border-neutral-900;
}

.flowbite-table {
  display: table;
  content: "";
  clear: both;
}
